@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@500&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');



*{
    font-family: 'Noto Sans KR', sans-serif;
}

.top{
    width : 1080px;
    height: 190px; /* 147px */
    margin: auto;
    padding-top: 12px;
    z-index: 51;
    position: relative;
}
.mainmenu{
    width :100%;
    height: 135px; /* 135px */
    padding-top: 33px;
    /* position: relative; */
}
.threeflex{
    display: flex;
    width: 100%;
    height: 38px;
}
#three-button{
    display: block;
    background-color: white;
    outline: 0;
    border: 0;
    width : 58px;
    height: 46px;
    cursor: pointer;
    /* display: none; */
    
}
.offcanvas-body{
    margin: auto;
}
.rowtalklogo{
    color: #ff6d37;
    font-size: 40px;
    text-transform: uppercase;
}
#thbutton{
    font-size: 42px;
    position: relative;
    left: -16px;
}
.rowtalklogo{
    width : 175px;
    height : 38px;
    margin:  0 auto;
    text-align: center;
    line-height: 46px;
    position: relative;
    left: 74px;
    top: -3px;
}
#small-menu{
    
    width :252px;
    height: 22px;
    padding-top: 2px;
}
.one{
    color: #999;
 font-size: 12px
 
}
.twoandthree{
    margin-left: 19px;
    color: #999;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.twoandthree:hover{
    color: #999;
}

.three{
    display: inline-block;
    padding-left: 5px;
     padding-top: 4px;
     color: #333;
     font-weight: 600;
}
.aaa{
    width: 225px;
    height: 30px;
    left: calc(50% - 538px);
position: absolute;
top: 105px;
}
.ott{
    color: #999;
    display: inline-block;
    font-size: 11px;
    line-height: 15px;
    margin-right: 27px;
    text-decoration: none;
}
.joinform{
    margin: 19px auto 0;
    width: 530px;
    position: relative;
    top: -63px;
    left: -276px;
}
.inputrow{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #333;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Notokr-Regular;
    height: 45px;
    position: relative;
}  
.lowerInputBox{
    width: 530px;
    height: 45px;
    position: relative;
    left: 101px;
    
}

.ott{
    cursor: pointer;
}


.lowerinput{
    font-size: 28px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0;
    width: 100%;
    border: 0;
    border-bottom: 5px solid #d8d8d8;
    
}
input::placeholder {
    color: #d8d8d8;
}

.dotbogi{
    background-color: white;
    position: relative;
    right: -98px;
    top: 0px;
    border: 0;
}
.dotbogi img{
    
    width: 65%;
}
.dotbogibox{
display: flex;
position: relative;
left: 166px;
}

section.container {
margin: 0 auto;
width: 70vw; /* 보여지는 컨테이너는 90%로 주자 */
overflow: hidden;  /* 넘치게 넣어줄것인데 넘치면 보이지 않게 해줄것이다. */
height: fit-content; /* 안에있는 내용만큼 높이를 할당하겠다라른 뜻 */
position: relative; 
}

div.banner {  /* 이 자체를 transfrom을 해주어야한다. */
width: 280vw;  /* 6개의 사진이 들어갈꺼니까 6을 곱해준값 */
/* transform: translate(-90vw); 왼쪽으로 90 이면 하나씩 이동하겠디*/  
transition: transform 1s; /* all을 써줘도 된다 */
}

div.img {
width: 70vw;
float: left;  /* 왼쪽을 기준으로 순서대로 붙게해주려고! */
}

div.img img { 
width: 100%;   /* inline요소에 가로 넓이를 못주니까 block으로 해주었다. */
display: block;
}

div.arrow {
position: absolute;
font-size: 2rem;
z-index: 1;  /* 2개다 동일하게 보이게 해주려고 */
width: 35px;
height: 100%;
text-align: center;
cursor: pointer;
line-height: 24vh; /* 텍스트의 높낮이를 바꾸게하려고! */
color: #00000070;
background-color: white;
}
.prev{
left: 0px;
}

div.next {  /* 오른쪽에올 arrow next는 오른쪽에 붙어야 하니까 */
right: 0;
}

div.btns {
    position: absolute;
    text-align: center;
    bottom: -2px;
    width: 70vw;
    left: 6px;
}

.popular-categories-section{
margin: 11px auto 0;
padding-bottom: 41px;
padding-left: 2px;
padding-top: 59px;
width: 1080px;
height: 324px;
}
.popular-categories-boxs{
color: #333;
font-size: 28px;
font-weight: bold;
width: 100%;
height: 28px;
}
.popular-categories-box{
width: 100%;
height: 183px;
display: flex;
justify-content: space-between;
margin-top: 23px;
}
.diverce{
flex-basis: 128px;
margin-right: 8px;
min-width: 128px;
color: #333;
margin-bottom: 20px;
text-align: center;
text-decoration: none;
cursor: pointer;
}

.diverce:hover{
    color: #000;
}
.divercebox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/이혼.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.divercetitle{
width: 100%;
height: 20px;
font-size: 20px;
margin-top: 5px;
}
.diverceexplain{
color: #999;
font-size: 13px;
line-height: 15px;
margin-top: 10px;
text-align: center;
}

.sangsokbox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/상속.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.genderbox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/성범죄.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.gunsulbox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/건설부동산.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.moneybox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/재산범죄.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.generalbox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/기업일발.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.policebox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/형사기타.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.searchbox{
background-color: #fff;
font-size: 80px;
height: 98px;
width: 98px;
border-radius: 50%;
margin: 0 auto;
background-image: url("../img/분야찾기.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.geesikin{
margin: 0 auto;
width: 1000px;
height: 220px;
position: relative;
font-size: 12px;
line-height: 1.2;
}
.best-expert{
/*  background-color: #4a65f6; */
width: 25%;
float: left;
position: relative;
height: 220px;
overflow: visible;

}
.best-link{
background-color: #ef6c00;
position: relative;
display: block;
height: 210px;
margin-right: 10px;
text-decoration: none;
cursor: pointer;
border-radius: 24px;
overflow: hidden;
box-shadow: 0 10px 20px 0 rgb(150 153 159 / 50%);
color: #000;

}
.best-background{
position: absolute;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
max-height: 100%;
line-height: 0;
}
.background-image-best{
background-image: url("https://ssl.pstatic.net/static/kin/section/expert/pc/home_panel_expert2.png");
background-repeat: no-repeat;
background-position: bottom right;
background-size: auto 158px;
opacity: 1;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
vertical-align: top;
}
.real-img{
max-width: 100%;
visibility: hidden;
}

.best-title{
position: relative;
z-index: 1;
margin: 20px 20px 0;
}
.best-title::after{
background-image: url("https://ssl.pstatic.net/static/kin/section/expert/pc/bannerLogoWhite.svg");
background-size: 117px 37px;
width: 117px;
height: 37px;
position: absolute;
left: 1px;
bottom: -60px;
content: '';
}
.subtitlebox{
display: inline-block;
border: 2px solid #fff;
margin-top: -4px;
padding: 3px 6px;
border-radius: 10px;
box-sizing: border-box;
}
.subtitle{
background-position: -104px -98px;
width: 27px;
height: 9px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
}
.blind{
overflow: hidden;
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
clip: rect(0 0 0 0);
font-size: 1.5em;
font-weight: bold;

}
.description{
display: -webkit-box;
max-height: 72px;
overflow: hidden;
margin-top: 13px;
font-size: 18px;
line-height: 24px;
color: #fff;
text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
font-weight: bold;
word-wrap: break-word;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
text-overflow: ellipsis;

}
.twosubtitle{
background-position: -104px -82px;
width: 67px;
height: 16px;
}
.hothot::after{
background-position: -178px 0;
width: 58px;
height: 64px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
position: absolute;
left: 20px;
bottom: -75px;
content:'';
}
.todaysgle{
background-position: 0 -107px;
width: 65px;
height: 16px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
}
.todayafter::after{
background-position: -104px 0;
width: 74px;
height: 66px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
position: absolute;
left: 20px;
bottom: -77px;
content: '';
}
.ahaaha{
background-position: 0 -16px;
width: 83px;
height: 16px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
}

.ahaaafter::after{
background-position: 0 -32px;
width: 60px;
height: 75px;
bottom: 15px;
background-image: url("https://ssl.pstatic.net/static/kin/section/sprite/sp_home_200302.svg");
background-size: 236px 123px;
position: absolute;
left: 20px;
bottom: -100px;
content: '';
}
.counsel-banner-section{
width: 1690px;
height: 1118px;
margin-top: 87px;
display: block;
}
.counsel-banner-section-container{
width: 100%;
height: 684px;
padding-bottom: 106px;
padding-top: 61px;
background-color: #222;
}
.counsel-banner-section--wrap{
margin: 44px auto 0;
width: 1080px;
height: 554px;
position: relative;
top: -43px;
}
.counsel-banner-title{
width: 100%;
height: 28px;
font-size: 28px;
color: #fff;
}
.counsel-banners-img-box{
margin-top: 46px;
width: 100%;
height: 418px;
}
.counsel-banners{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
}
.counsel-banner-wrap{
cursor: pointer;
margin-right: 16px;
min-width: 349px;
text-decoration: none;
}
.counsel-banner{
background-image: url("https://img8.yna.co.kr/etc/inner/KR/2021/10/22/AKR20211022093200004_07_i_P2.jpg");
background-size: auto 100%;
display: block;
height: 349px;
padding-top: 35px;
background-repeat: no-repeat;
text-decoration: none;
width: 100%;
color: #fff;
cursor: pointer;
}



.twowrap{
    background-image: url("http://www.outdoornews.co.kr/news/photo/202001/31550_88027_4419.jpg")
}

.threewrap{
    background-image: url("https://satoasiapacific.com/wp-content/uploads/2019/06/legal_thumb-1.jpg");
}

.counsel-banner__title-text{
font-weight: bold;
font-size: 18px;
line-height: 26px;
margin-left: 32px;
margin-top: -3px;
color: #fff;
text-shadow: 0 0 20px rgb(0 0 0 / 20%);
}
.counsel__title{
font-size: 18px;
margin-top: 23px;
color: #cfcfcf;
}
.counsel__text{
font-size: 15px;
line-height: 24px;
margin-top: 11px;
width: 344px;
color: #cfcfcf;
}
.counsel__reservation-link{
cursor: pointer;
margin-top: 17px;
color: #f50;
display: block;
font-size: 13px;
/* margin-top: 13px; */
outline: none;
text-decoration: none;
}
.counsel-online-write-counsel-container{
width: 100%;
height: 271px;
border-bottom: 1px solid #e0e0e0;
padding-bottom: 49px;
box-sizing: border-box;

}
.counsel-online-write-counsel-wrap{
margin: 50px auto;
padding-top: 55px;
width: 1080px;
height: 148px;
}
.counsel-online-write--title{
font-size: 28px;
margin-bottom: 29px;
color: #333;
box-sizing: border-box;
font-weight: bold;
}
.counsel-online-write-banner{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
width: 100%;
height:91px ;
}
.counsel-bannerss{
background-image: url("https://d2ai3ajp99ywjy.cloudfront.net/app/images/530186be3fb2186a5cb2.jpg");
height: 91px;
width: 349px;
background-color: #f1eeec;
background-position: 50%;
display: block;
/*  height: 66px; */
text-decoration: none;
}
.counsel__title{
font-size: 18px;
margin-top: 3px;

width: 100%;
height: 18px;
}
.explainToanswer{
font-size: 15px;
min-height: auto;
width: 686px;

}
.writecounselone{
width: 100%;
height: 14px;
cursor: pointer;
margin-top: 17px;
color: #f50;
display: block;
font-size: 13px;
margin-top: 13px;
outline: none;
text-decoration: none;
font-weight: bold;
}
.content-section{
height: 152px;
margin: 0px auto 59px;
width: 1080px;
background-color: #f6f6f6;
display: block;
box-sizing: border-box;
position: relative;
top: -46px;
}
.banner-section-wrap{
background-image: url("https://d2ai3ajp99ywjy.cloudfront.net/app/images/62d5d9f03d0c98626c04.jpg");
background-position: 100% 100%;
background-repeat: no-repeat;
background-size: 33%;
height: 152px;
padding-bottom: 73px;
padding-top: 34px;
position: relative;

}
.iflower{
text-align: center;
position: relative;
top: -100px;
}
.ififif{
color: #333;
font-size: 18px;
font-weight: bold;
}
.ansim{
color: #222;
font-size: 15px;
margin-top: 16px;
}
.withlawer{
color: #f50;
font-size: 14px;
margin: 0 8px;
padding-bottom: 4px;
text-decoration: none;
font-weight: bold;
text-align: center;

}
.counsel__reservation-link:hover{
    color: #f50;
}
.writecounselone:hover{
    color: #f50;
}
.withlawer{
    cursor: pointer;
}
.withlawer:hover{
    color: #f50;
}

.quick-menu{
height: 46px;
width: 285px;
margin-bottom: 17px;
display: flex;
margin-top: 40px;
}
.one{
margin-left: 3px;
height: 88px;
margin-right: 8px;
width: 88px;
display: inline-block;
text-align: center;
font-weight: 600;
}
.secondpart{
margin-bottom: 23px;
padding: 21px 2px 19px;
border-bottom: 1px solid #333;
border-top: 1px solid #333;
line-height: 2.5;
padding: 20px 0;
text-align: left;
width: 281px;
height: 200px;

}
.fourbox{
width: 100%;
height: 37px;
}
.findlower{
color: black;
text-decoration: none;
font-weight: 900;
font-size: 18px;
}
.writeglesigi{
color: #333;
margin-bottom: 24px;
border-bottom: 1px solid #333;
cursor: pointer;
font-family: Notokr-Bold;
font-size: 14px;
line-height: 28px;
padding-bottom: 21px;
position: relative;
width: 285px;
height: 45px;
font-weight: bold;
}







#slidebutton{
background-color: white;
outline: none;
color: #000;
border: 0ch;
width: 65px;
height: 52px;
}

#slidebutton:focus{
border: white;
outline: none;
outline: white;
}
#slidebutton:checked{
outline: none;
outline: white;
border: white;
}
#slidebutton:visited{
outline: none;
border: white;
outline: white;
}

#slidebutton { color: black; background-color: #fff; cursor: default; }
#slidebutton:active, #slidebutton:focus { border: none; box-shadow: none; }




.lt-footer{
    border-top: 1px solid #e0e0e0;
    margin-top: 100px;
    background-color: #fff;
    margin: auto;
    position: relative;
    display: block;
    width: 100%;
    height: 189px;
    display: flex;
    max-width: 1080px;
    min-width: 600px;
}
.lt-footer a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.lt-footer a:hover{
    color: #000;
}

.inner-footer{
    max-width: 1080px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 300px;
    display: flex;
}

.firstbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 30%;
    height: 300px;

}

.secondbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 70%;
    height: 300px;
    margin-left: 109px
    
}

.firstbox div strong{
    font-size: 30px;
}


.footer__menu{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
    margin-top: 0;
    height: 25px;
    POSITION: relative;
    TOP: 15PX;
}

.lists{
    margin-right: 0.75rem;
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    display: list-item;
    color: #757575;
}

.informationfooter{
    display: flex;
    position: relative;
    left: 38px;
}


.smallones{
    font-size: 1px;
}
.footera{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.secondfootertitle{
    padding-left: 35px;
   
    max-width: 520px;
    font-size: 17px;
    font-weight: 600;
}

.mypagebox{
    width: 260px;
    height: 96px;
    
}

.mypageboxtwo{
    position: relative;
    left: -111px;
}
.mypageboxtitle{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 19px;
    font-size: 13px;
    height: 20px;
    line-height: 15px;
    font-weight: 900;

}

.mypageboxex{
    width: 100%;
    height: 24px;
}

.smallcharacter{
    color: #757575;
    font-size: 12px;
    line-height: 18px;
}

.lastfooter{
    border: 0;
    height: 292PX;
}

.lastfooter div{
    width: 100%;
}

.footera:hover {
    color: #000;
}


.btn-action-question{
    position: fixed;
    display: flex;
    right: 28px;
    bottom: calc(1.65rem + -3px);
    z-index: 900;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: #ff6d37;
    color: #fff;
    overflow: visible;
    font-size: 30px;
    padding-left: 3px;
    line-height: 1.3;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
    border: none;
    border-radius: 50%;
    fill: currentColor;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
}

.buttoninbox{
    bottom: calc(100% - 50px);
    border: 2px solid #ff6d37;
    background-color: white;
    position: absolute;
    left: 50%;
    z-index: 100;
    transform: translate(-50%,-130%);
    border-radius: 5px;
    padding: 9px;
    line-height: 1;
    font-size: 12px;
    color: #333;
    animation: bounce-little 2s infinite;
    box-sizing: border-box;
    width: 87px;
    height: 40px;
    TEXT-ALIGN: center;
    FONT-WEIGHT: 900;
    line-height: 11px;
}

.arrow-down{
	width: 0;
	height: 0;
	border-top: 11px solid #ff6d37;/* 화살표 */
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
    position: relative;
    top: 2px;
    left: 21px;
}

.btn{
    outline: none;
}


.btn:focus{
    outline: none;
  }
 .btn:checked{
    outline: none;
 }

 .aaa{
    font-weight:bold ;
}



















.transparentbutton{
    position: absolute;
    width: 100%;
    left: 0px;
    opacity: 0;
}

.topBodyGW{
    width: 1050px;

}
.s.oftenshowbox{
    height: 353px
}

.oftenshow{
    position: relative;
    top: 39px;
    left: 211px;
}

.oftenshowinput{
    border-bottom: 5px solid #ef6c00;
    color: #ef6c00;
}

/* .oftenshowinput::placeholder{
    color: #ef6c00;
} */

.oftenDotBogi{
    color: #ef6c00;
    POSITION: relative;
    LEFT: 707PX;
    TOP: -7PX;
}

.searchicon{
    font-size: 53px;
}

.search-categories-wrapper{
    padding-bottom: 6px;
    padding-top: 7px;
    width: 530px;
    height: 192px;
    margin-right: 0px;
    position: relative;
    left: 215px;
}

.firstsearch{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.firstsearchoften{
    font-size: 16px;
    color: #333;
    width: 140px;
    height: 100%;
    font-weight: bold;
}
.firstsearchAll{
    width: 100px;
    height: 100%;
    font-size: 14px;
    cursor: pointer;
}

.catagoryPopular{
    display: block;
    line-height: 2.29;
    color: #333;
    font-size :14px;
    text-decoration: none;
    width: 100%;
    height: 33px;
    cursor: pointer;
}

.catagoryPopular:hover{
    color: #333;
}
/* .oftenlogo{
    font-size: 35px;
    position: relative;
    left: 635px;
} */

.sidebodyGW{
    margin: auto;
}






















.menu-items-bottom{
    margin-left: 2px;
    margin-bottom: 0;
    text-align: left;
    width:99%;
    height: 225px;
    line-height: 41px;
}

.bottom-inner{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    cursor: pointer;
}
.bottom-inner:hover{
    color: #000;
}

.new-up{
    color: #ff6d37;
    font-family: Amplitude Medium;
    font-size: 12px;
    position: relative;
    text-decoration: none;
    transition: color .2s ease-out;
    top: -8px;
    left: -9px;
    font-weight: bolder;
}
.realbottomSlide{
    width: 100%;
    display: flex;
    height: 113px

}
.slideLogin{
    flex: 1;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.slideicon{
    
    font-size: 41px;

}
.realbottomSlide a{
    text-decoration: none;
    color: #000;
}

.realbottomSlide a:hover{
    color: #000;
}
.one{
    cursor: pointer;
}

/* .realbottomSlide i{

    font-size: 39px;
    position: relative;
    left: 6px;
} */

.findlower{
    cursor: pointer;
}

.findlower:hover{
    color: #000;
}
.ott:hover{
    color: #ef6c00;
}