@charset "UTF-8";

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
	
    -webkit-text-size-adjust: 100%;
	
}

body{
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    min-height: 100%;
    position: relative;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
}

.about-lawknow{
	padding-top: 70px;
	overflow: auto;
	min-height: 100vh;
}

header{
	position: fixed;
    top: 0;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
    height: 70px;
    text-align: center;
}
	
header a{
	font-size: 19px;
    color: black;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif; 
}

a{
	    text-decoration: none;
	    background-color: transparent;
}



    nav{
    	font-size: 12pt;
    	font-family: 'PT Sans', Arial, Sans-serif;
    	position: relative;
    	background-color: #fff;
    }
    nav ul{
    	padding: 0;
    	margin: 0 auto;
    	width: auto;
    }
    nav li{
    }
    nav a{
    	line-height: 50px;
      height: 50px;
    }
    nav li a{
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
    nav li:last-child a{
    	border-right: 0;
        }
    nav a:hover, nav a:active{
    }
    nav a#pull{
    	display: none;
    }
      html {
      -webkit-touch-callout:none;
      -webkit-user-select:none;
      -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
      }

      ul{
        /*list-style-type: none;*/
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
      }
      li{
        /*position: relative;*/
        display: inline-block;
      }
      li a{
        color: black;
        text-align: center;
        padding: 14.5px 16px;
        text-decoration: none;
      }
      li a:hover{
        /*color: #597812;*/
        color: #ff6d37;
      }
      
      .menu {
		display: flex;
		justify-content: center;      
      position:fixed;
       width: 100%;
       height: 70px;
       text-align: center;
       max-width: 100%;
       background-position: center;
       background-size: cover;
       background-color: #fff;
       z-index: 1200;
       box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
     }
     
     
     .section-layout-text{
  			text-align: center;	   
     }
     
     h1{
		margin-top: 25px;
   		margin-bottom: 39.5px;     
     }
     
     section-first-layout{
    	 padding: 50px 1rem 0;
     }
     
     
     .section-first-title{
     	font-size: 38px;
     	font-weight: 500;
    	line-height: 1.3;
   		color: inherit;
   		font-family:'Jua', sans-serif;
     }
     
     .intro-text-layout{
		width: 100%;
   		font-size: 20px;
    	margin: 40px 0;
    	font-family: 'Noto Sans KR', sans-serif;     
     }
     
     .button-border{
	    border-radius: 10px;
	    box-shadow: 0 0 3px 0 black;
     }
     
     .button-layout{
     	padding: 10px 60px;
	    font-size: 24px;
	    margin-bottom: 50px;
	    font-family: 'Jua', sans-serif;
	    color: #fff;
    	background-color: #ff6d37;
    	cursor: pointer;
     }
     
     .question-img{
     	width: 38%;
   		 margin-top: 51px;
     }
     
     .section-second-layout{
		padding: 50px 1rem 0;     
     }
     
     .section-second-layout{
    	margin-top: -10px;
    	background-color: #ff6d37;
    	padding-left: 2.5rem;
   		padding-right: 2.5rem;
   		position: relative;
   		z-index: 10;
    	padding-bottom: 60px;
     }
     
     .section-second-title{
     	
     	font-size: 38px;
     	font-weight: 500;
    	line-height: 1.3;
   		color: #fff;
   		font-family:'Jua', sans-serif;
     }
     
     .section-second-how{
     	max-width: 700px;
     	padding: 0;
     	width: 100%;
     	margin-right: auto;
    	margin-left: auto;
     }
     
     .section-second-how-menu{
     	margin-left: -0.75rem;
    	margin-right: -0.75rem;
     }
     
     .second-how-menu-layout{
     	position: relative;
    min-height: 1px;
     	padding: 0 25px;
     	width: 49%;
     	display:inline-block;
     }
     
     .second-how-menu-card{
     	padding: 1.3rem 1rem;
	    margin-bottom: 50px;
	    border-radius: 25px;
	    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
	    background-color: #fcff00;
	    display: inline-block;
     }
     
     .second-how-title{
     	color: #231aac;
     	font-size: 30px;
     	margin: 9px 0 0;
     	font-family: 'yg-jalnan';
     }
     
     .second-how-menu-card img{
     	width: 85%;
     }
     
     .second-how-menu-card p{
     	font-size: 1rem;
     	font-weight: 500;
    	line-height: 1.4;
        margin: 0 0 12.5px;
        font-family: 'Noto Sans KR', sans-serif;
     }
     
     .section-last{
     	padding: 0;
     }
     
     .section-last-layout{
     	margin-right: auto;
   		margin-left: auto;
   		padding: 0;
     }
     
     .last-menu-layout{
     	margin: 0;
     	display:flex;
     }
     
     .last-menu{
     	background-image: url("https://static.a-ha.io/images/extras/about-aha/bg-question.png");
		background-size: cover;
    	background-repeat: no-repeat;
	    background-position: 50%;
	    color: #fff;   
	    padding: 27px 1rem 52px;  
	    width: 50%;	
     }
     
     .last-menu h3{
     	font-size: 24px;
     	font-family: 'Nanum Gothic', sans-serif;
	    font-weight: 600;
	    line-height: 1.3;
	    color: inherit;
	    margin: 0;
	    padding: 20px 0;
     }
     
     .last-menu a{
    	 padding: 10px 56px;
   		 font-size: 21px;
   		 font-weight: 700;
   		 color: #fff;
   		 background-color: #1fc7c1;
   		 font-family: 'yg-jalnan';
	}
	
	.last-button-border{
		display: inline-block;
  		margin-bottom: 0;
		text-align: center;
	    vertical-align: middle;
	    touch-action: manipulation;
	    cursor: pointer;
	    background-image: none;
	    white-space: nowrap;
	    line-height: 1.6;
	    border-radius: 45px;
	}
     
     .last-menu1{
     	background-image: url("	https://static.a-ha.io/images/extras/about-aha/bg-answer.png");
		background-size: cover;
    	background-repeat: no-repeat;
	    background-position: 50%;
	    color: #fff;   
	    padding: 27px 1rem 52px;  
	    width: 50%;	
     }     
     
     .last-menu1 h3{
     	font-size: 24px;
     	font-family: 'Nanum Gothic', sans-serif;
	    font-weight: 600;
	    line-height: 1.3;
	    color: inherit;
	    margin: 0;
	    padding: 20px 0;
     }
     
     .last-menu1 a{
    	 padding: 10px 56px;
   		 font-size: 21px;
   		 font-weight: 700;
   		 background-color: #fcff00;
   		 color: #6158f2;
   		 font-family: 'yg-jalnan';
	}
	
	
	.lt-footer{
    border-top: 1px solid #e0e0e0;
    margin-top: 100px;
    background-color: #fff;
    margin: auto;
    position: relative;
    display: block;
    width: 100%;
    height: 156px;
    display: flex;
    max-width: 1080px;
    min-width: 600px;
}

.inner-footer{
    max-width: 1080px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 300px;
    display: flex;
}

.rowtalklogo {
    color: #ff6d37;
    font-size: 40px;
    text-transform: uppercase;
    POSITION: RELATIVE;
    TOP: 48PX;
}



.firstbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 30%;
    height: 300px;

}

.secondbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 70%;
    height: 300px;
    margin-left: 109px
    
}

.firstbox div strong{
    font-size: 30px;
}


.footer__menu{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
    margin-top: 0;
    height: 25px;
    POSITION: relative;
    TOP: 15PX;
}

.lists{
    margin-right: 0.75rem;
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    display: list-item;
    color: #757575;
}

.informationfooter{
    display: flex;
    position: relative;
    left: 38px;
}


.smallones{
    font-size: 1px;
}
.footera{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.secondfootertitle{
    padding-left: 35px;
   
    max-width: 520px;
    font-size: 17px;
    font-weight: 600;
}

.mypagebox{
    width: 260px;
    height: 96px;
    
}

.mypageboxtwo{
    position: relative;
    left: -111px;
}
.mypageboxtitle{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 32px;
    font-size: 13px;
    height: 20px;
    line-height: 15px;
    font-weight: 900;

}

.mypageboxex{
    width: 100%;
    height: 24px;
}

.smallcharacter{
    color: #757575;
    font-size: 12px;
    line-height: 18px;
}

.lastfooter{
    border: 0;
    height: 292PX;
}

.lastfooter div{
    width: 100%;
}

.footera:hover {
    color: #000;
}
	 
