body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f1f4f6;
    height: 100%;
    width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
}

.background-wrap {
    width: 100%;
}

.find-idpw-container {
    margin: 0 auto;
    max-width: 480px;
}

.find-idpw-container .header {
    margin: auto;
    width: 424px;
    background-color: #333;
    padding: 24px 20px 20px;
    height: 86px;
}

.header.background-lawyer{
    background-image: url("https://d2ai3ajp99ywjy.cloudfront.net/app/images/689908b158df553b0d13.png");
    background-position: right 40px bottom 0;
    background-repeat: no-repeat;
    background-size: 80px auto;
}

.find-idpw-container .lawtalk {
    display: block;
    color: #FF4E00;
    font-size: 18px;
    letter-spacing: -2px;
    margin-top: -7px;
}

.find-idpw-container .lawtalk h2 {
    margin: 0;
}

.find-idpw-container .goodlawyers {
    margin-top: -9px;
}

.find-idpw-container .goodlawyers b {
    color: #fff;
    font-size: 24px;
}

.find-idpw {
    margin-top: 15px;
}

.find-idpw-font {
    margin-top: 15px;
}

.find-idpw-font-span {
    color: #fff;
    font-size: 16px;
}

.find-idpw {
    padding: 0 8px;
}

.info {
    background-color: #f9f6f4;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    padding: 0 16px;
    margin-bottom: 0;
}

.input-info {
    padding: 10px 16px 46px;
    background-color: #fff;
}

.input-info-footer {
    background-color: #f9f6f4;
    padding: 20px;
    text-align: center;
}

.email-footer-button {
    color: #ff6d37;
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.form-control {
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none!important;
    color: #757575;
    font-size: 14px;
    height: 23px;
    width: 100%;
    padding: 10px 0;
}


.form-control-button{
    border: 0;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    display: flex;
    line-height: 3;
    color: #757575;
}

.description {
    color: #757372;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: -3px;
    padding-top: 9px;
}


.form-group {
    margin-top: 40px;
    position: relative;
    margin-bottom: 15px;
}

.row-footer {
    padding: 20px 24px;
    text-align: center;
}

.row {
    padding: 10px 0;
    margin-top: -10px;
}

a {
    text-decoration: none;
}