.tab_menu{position:relative; width: 100%;}
.tab_menu .list{
	overflow:hidden; 
	padding: 0; 
	margin: 0; 
	display: flex;
}
.tab_menu .list .btn {
	font-size:16px;
	background-color: #efefef;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 53px;
    color: #999;
    
}
.sign-container .tab_menu .list .cont{
	display:none; 
	position: absolute;
	background:#fff; 
	color:#333; 
	text-align:center;
	width: 100%;
	box-shadow: 9px 21px 25px -2px #cac7c7;
}
.sign-container .tab_menu .list li.is_on .btn {
	box-shadow: none;
    cursor: default;
    background-color: #fff;
    color: #333;
    
}
.tab_menu .list li.is_on .cont{display:block;}
  
body {
	height: 100%;
    width: 100%;
    background-color: #f1f4f6;
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
}


.sign-container {
	margin: 0 auto;
    max-width: 480px;
}

.back-click {
    display: block;
    top: 71px;
    font-size: 16px;
    color: #999;
    cursor: pointer;
    position: absolute;
	font-weight: 400;
}

.is_on .btn {
	display: block;
	margin: 0;
	width: 50%;
	text-align: center;
}

.login-box {
    padding: 10px 16px 46px;
    padding-bottom: 45px;
    padding-left: 48px;
    padding-right: 48px;
}

.submit-button {
    margin-top: 44px;
    color: #fff;
    background-color: #ff4e00;
    font-size: 14px;
    height: 45px;
    width: 100%;
    border: none;
    cursor:pointer;
}

.input-id {
    margin-top: 34px;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 15px;
}

.input-password {
    margin-top: 44px;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 15px;
}


.search-id-password {
    height: 22px;
}

.login-checkbox {
    display: inline-block;
    float: left;
}

.find-id-password {
    float: right;
}

.button-kakao {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

.button-facebook {
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

.button-kakao .button-kakao-login {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 44px;
    line-height: 44px;
    margin-top: -3px;
    padding: 0;
    width: 100%;
    margin: 4px 0 12px;
    
}
.button-facebook .button-facebook-login {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 44px;
    line-height: 44px;
    margin-top: -3px;
    padding: 0;
    width: 100%;
    margin: 4px 0 12px;
    
}

.button-kakao .button-kakao-login .kakao-icon {
    background-image: url("https://d2ai3ajp99ywjy.cloudfront.net/app/images/f68fbcaa58e2893c0642.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 30px;
    float: left;
    height: 100%;
    margin: 0 7px;
}

.button-facebook .button-facebook-login .facebook-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/44/44646.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    width: 30px;
    float: left;
    height: 100%;
    margin: 0 7px;
}


.text {
    display: flow-root;
    font-weight: 400;
    margin: -2px 0 0;
    text-align: center;
    width: calc(100% - 90px);
}

.footer {
	position: absolute;
    margin-top: 548px;
	width: 100%;
    text-align: center;
	padding: 32px 0;
}
.row {
    padding: 10px 0;
    margin-top: -10px;
}

.row.sign-up-row a {
    font-size: 14px;
}

.row.copyright-row a {
    font-size: 5px;
}


.lawyer-signup-info{
	padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

.lawyer-info-button {
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 44px;
    line-height: 44px;
    margin-top: -3px;
    padding: 0;
    width: 100%;
    margin: 4px 0 12px;
}

.lawyer-info-button .text{
	display: flow-root;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.lawyer-info-button .text >a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #ff4e00;
}


h1 {
	margin: 0;
	padding-top: 57px;
	margin-bottom: 57px;    
	font-size: 36px;
	text-align: center;
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
}

li {
	font-size: 13px;
    background-color: #efefef;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 50%;
    line-height: 50px;
}

h2 {
    display: inline-block;
    font-size: 12px;
}


.p-tag {
    border-top: 1px solid #efefef;
}

p {
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    margin: 0;
}