@charset "UTF-8";

.all-layout {
    margin: 0 auto;
    max-width: 480px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f1f4f6;
}



div.container{
	display: block;
    width: 100%;
}

div.all-layout{
	margin: 0 auto;
    max-width: 480px;
}

.title-layout{
	margin-left: 8px;
    margin-right: 8px;
	background-color: #222;
    height: 112px;
    margin-bottom: 8px;
    padding-top: 18px;
    position: relative;
}

h1{
	font-size: 19px;
    line-height: 27px;
    margin-bottom: 22px;
    margin: 0;
    padding : 0 16px;
    font-weight: bolder;
}


h1 a{
	color: #ff6d37;
	text-decoration: none;
	cursor: pointer;
	font-size: 21px;
}

h2{
	color: #aa999d;
    font-size: 16px;
    line-height: 15px;
    padding : 0 16px;
    margin-top: 21px;
}

.allform-layout{
	padding: 0 8px;
}

.first-form{
	background: none #fff;
    margin-bottom: 8px;
    width: 100%;
}

.allform-layout form h3{
	background-color: #f9f6f4;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
}

.form-title-text{
	padding: 0 16px
}

.input-layout{
	position: relative;
	padding: 10px 16px 46px;
	height: 100%;
}

.allInput-border{
	border: 0;
	display: block;
	line-height: 1.42857143;
    outline: 0 none;
    width: 100%;
    border-bottom-color: #333;
    font-size: 14px;
    border-bottom: 1px solid #333;
    height: 23px;
}

.input-tag-layout{
	margin-top: 40px;
	overflow: visible;
    position: relative;
    margin-bottom: 15px;
}

.pw-intro-layout h2{
	font-size: 20px;
    line-height: 22px;
    color: #333;
    font-weight: bold;
    padding:0;	
}

.pw-intron-text-row{
	font-size: 12px;
    padding-top: 12px;
    color: red;
}

.button-layout{
	background-color: #f9f6f4;
    padding: 20px;
    text-align: center;
}

.button-layout button{
	color: #ff6d37;
    font-size: 18px;
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
}

div.footer{
	padding: 20px 24px;
    text-align: center;
}

div.footer.row{
	
	padding: 10px 0;
}

.row{
	margin-left: -15px;
    margin-right: -15px;
}

span{
	font-size: 14px;
    color: red;
}
