
html,
body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
	background:#fff;
}

a { text-decoration:none;
	color: black;
}
a:hover {
  color : black;
}
.iflower{
text-align: center;
position: relative;
top: -100px;
}
.ififif{
color: #333;
font-size: 18px;
font-weight: bold;
}
.ansim{
color: #222;
font-size: 15px;
margin-top: 16px;
}
.withlawer{
color: #f50;
font-size: 14px;
margin: 0 8px;
padding-bottom: 4px;
text-decoration: none;
font-weight: bold;
text-align: center;

}

.quick-menu{
height: 46px;
width: 285px;
margin-bottom: 17px;
display: flex;
margin-top: 40px;
margin-left: 42px;
}

.one{
height: 88px;
width: 88px;
display: inline-block;
text-align: center;
font-weight: 600;
color: #999;
margin: 0 auto;
font-size:14px;
}
.secondpart{
margin-bottom: 23px;
padding: 21px 2px 19px;
border-bottom: 1px solid #333;
border-top: 1px solid #333;
line-height: 2.5;
text-align: left;
width: 281px;
height: 200px;
margin: 0 auto;

}
.fourbox{
width: 100%;
height: 37px;
}
.findlower{
color: black;
text-decoration: none;
font-weight: 900;
font-size: 18px;
}
.writeglesigi{
color: #333;
border-bottom: 1px solid #333;
cursor: pointer;
font-family: Notokr-Bold;
font-size: 16px;
line-height: 28px;
padding-bottom: 21px;
position: relative;
width: 285px;
height: 45px;
font-weight: bold;
margin: 0 auto;
margin-top: 20px;
}


#slidebutton{
background-color: white;
outline: none;
color: #000;
border: 0ch;
width: 65px;
height: 52px;
}

#slidebutton:focus{
border: white;
outline: none;
outline: white;
}
#slidebutton:checked{
outline: none;
outline: white;
border: white;
}
#slidebutton:visited{
outline: none;
border: white;
outline: white;
}

#slidebutton { color: black; background-color: #fff; cursor: default; }
#slidebutton:active, #slidebutton:focus { border: none; box-shadow: none; }

.offcanvas-title strong {
    width: 175px;
    height: 38px;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
    position: relative;
    left: 74px;
    top: -3px;
	color: #ff6d37;
    font-size: 40px;
    text-transform: uppercase;
}


.menu-items-bottom{
    margin-left: 39px;
    margin-top: 21px;
    margin-bottom: 0;
    text-align: left;
    width:99%;
    height: 225px;
    line-height: 41px;
}

.bottom-inner{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    cursor: pointer;
}
.bottom-inner:hover{
    color: #000;
}

.new-up{
    color: #ff6d37;
    font-family: Amplitude Medium;
    font-size: 12px;
    position: relative;
    text-decoration: none;
    transition: color .2s ease-out;
    top: -8px;
    left: -9px;
    font-weight: bolder;
}
.realbottomSlide{
    width: 100%;
    display: flex;
    height: 113px;
    margin-left: 35px;

}
.slideLogin{
    flex: 1;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.slideicon{
    
    font-size: 41px;

}
.realbottomSlide a{
    text-decoration: none;
    color: #000;
}

.realbottomSlide a:hover{
    color: #000;
}

.one{
    cursor: pointer;
}


#thbutton{ /* 카테고리 움직이는 버트 */
    position: absolute;
    left: 288px;
    top: 38px;
    cursor: pointer;
}

.slideLogin i{
    position: absolute;
    left: 235px;
    top: 692px;
}













div.all-layout{
    width: 100%;
    position: absolute;
    right: 320px;
    top: 0px;
 }
 body{
    background-color: #fff;
    margin: 0;
}

#Law{
    position: absolute;
    left: 1152px;
    top: -22px;
    width: 300px;
    color: #f50;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
}
section{
    position: relative;
}

#input1{
    position:absolute;
    width: 550px;
    height: 40px;
    left:970px;
    top:350px;
    border-radius: 11px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-position: 497px;
    background-repeat:no-repeat;
    background-size: 38px;
    cursor: pointer;
}

.lawbanner > img{
    position: absolute;
    top: 447px;
    left: 770px;
    width: 1000px;
    height: 250px;
}


div.img{
    width: 10px;
    height: 10px;
}
div.img1 > img{
    position: absolute;
    top: 263px;
    left: 211px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}
div.img2 > img{
    position: absolute;
    top: 263px;
    left: 422px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}

div.img3 > img{
    position: absolute;
    top: 263px;
    left: 633px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}
div.img4 > img{
    position: absolute;
    top: 263px;
    left: 844px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}
div.img5 > img{
    position: absolute;
    top: 263px;
    left: 1055px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}
div.img6  > img{
    position: absolute;
    top: 263px;
    left: 1266px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}
div.img7 > img{
    position: absolute;
    top: 263px;
    left: 1477px;
    width: 125px;
    height: 120px;
    cursor: pointer;

}

section #icon{
    position: absolute;
    top: -149px;
    left: 380px;
}

.ttt{
    position: absolute;
    left: -2px;
    top: 65px;
}



#word{
    position: absolute;
    color: #999;
    font-weight: bold;
    top: 2px;
}

.word1{
    position: absolute;
    top: 240px;
    left: 635px;
    width: 125px;
    height: 120px;
    
}
.word2{
    position: absolute;
    top: 240px;
    left: 848px;
    width: 125px;
    height: 120px;
}
.word3{
    position: absolute;
    top: 240px;
    left: 1054px;
    width: 125px;
    height: 120px;
}
.word4{
    position: absolute;
    top: 240px;
    left: 1238px;
    width: 125px;
    height: 120px;
}
.word5{
    position: absolute;
    top: 240px;
    left: 1468px;
    width: 125px;
    height: 120px;
}
.word6{
    position: absolute;
    top: 240px;
    left: 1677px;
    width: 125px;
    height: 120px;
}
.word7{
    position: absolute;
    top: 240px;
    left: 1891px;
    width: 125px;
    height: 120px;
}

#word-sub{
    position: absolute;
    color: #999;
    font-weight: bold;
    top: 22px;
    left: -29px;
}

.word8{
    position: absolute;
    top: 240px;
    left: 635px;
    width: 125px;
    height: 120px;
    
}
.word9{
    position: absolute;
    top: 240px;
    left: 848px;
    width: 125px;
    height: 120px;
}
.word10{
    position: absolute;
    top: 240px;
    left: 1060px;
    width: 125px;
    height: 120px;
}
.word11{
    position: absolute;
    top: 240px;
    left: 1268px;
    width: 125px;
    height: 120px;
}
.word12{
    position: absolute;
    top: 240px;
    left: 1482px;
    width: 125px;
    height: 120px;
}
.word13{
    position: absolute;
    top: 240px;
    left: 1690px;
    width: 125px;
    height: 120px;
}
.word14{
    position: absolute;
    top: 240px;
    left: 1903px;
    width: 125px;
    height: 120px;
}

.word15{
    position: absolute;
    top: -15px;
    left: 1650px;
    height: 120px;
    font-size: 14px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
    width: 300px;
}
.word16{
    position: absolute;
    top: -15px;
    left: 1740px;
    height: 120px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    width: 300px;
}
.word17{
    position: absolute;
    top: -15px;
    left: 1820px;
    height: 120px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    width: 300px;
}
.word18{
    position: absolute;
    top: -15px;
    left: 1876px;
    height: 120px;
    width: 300px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(4, 0, 0);
}

.word19{
    position: absolute;
    top: 720px;
    left: 770px;
    height: 120px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(97, 90, 90);
}

.word20{
    position: absolute;
    top: 1150px;
    left: 770px;
    height: 120px;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(97, 90, 90);
}

hr{
    position: absolute;
    top: 1101px;
    left: 761px;
    width: 1000px;
    height: 1px;
    font-size: 25px;
    font-weight: bolder;
    background-color: black;
}

.boxs{
    position: absolute;
    left: 200px;


}
.boxs2{
    position: absolute;
    left: 200px;
}
.boxs > div{
    position: absolute;
    border-style: solid; 
    border-width: 2px;
    border-color: #999;
    width: 188px;
    height: 85px;
    padding: 18px 20px 14px;
    color: #999;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 11px;
    top : 784px;
}
.boxs2 > div{
    position: absolute;
    border-style: solid; 
    border-width: 2px;
    border-color: #999;
    width: 188px;
    height: 85px;
    padding: 18px 20px 14px;
    color: #999;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 11px;
    top : 955px;
}
.box1{
    background-position:8px 6px;
    background-repeat:no-repeat;
    background-size: 33px;
    left: 600px;
   
}
.box2{

    background-position:8px 6px;
    background-repeat:no-repeat;
    background-size: 33px;
    left: 850px;
    
}
.box3{

    background-position:8px 6px;
    background-repeat:no-repeat;
    background-size: 33px;
    left: 1100px;    
}

.box4{
    left: 1350px; 
}
.box5{
    left: 600px;
}
.box6{
    left: 850px;
}
.box7{
    left: 1100px;
}
.box8{
    left: 1350px;    
}

p{
    position: absolute;
    font-size: 12px;
    left: 9px;
    top: 58px;
  
}

.heart{
    position: absolute;
 
    background-position:8px 6px;
    background-repeat:no-repeat;
    background-size: 21px;
    top: 83px;
    left: 132px;  
    height: 50px;
    width: 50px;
}
.boxs3{
    position: absolute;
    left: -14px;
    top: 2px;
}
.boxs3 > div{
    position: absolute;
    border-style: solid; 
    border-width: 3.5px;
    border-color: #999;
    width: 100px;
    height: 25px;
    padding: 18px 20px 14px;
    color: black;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    border-radius: 29px;  
    line-height: 0;
}
.boxs4 > div{
    position: absolute;
    border-style: solid; 
    border-width: 3.5px;
    border-color: #999;
    width: 1000px;
    height: 25px;
    padding: 18px 20px 14px;
    color: black;
    text-align: left;
    font-size: 17px;
    font-weight: bolder;
    border-radius: 12px; 
    line-height: 0; 
}



.box9{
    left: 800px;
    cursor: pointer;
    top : 1200px;
}
.box10{
    left: 1000px;
    cursor: pointer;
    top : 1200px;
}
.box11{
    left: 1200px;
    cursor: pointer;
    top : 1200px;
}
.box12{
    left: 1400px;
    cursor: pointer;
    top : 1200px;
}
.box13{
    left: 1600px;
    cursor: pointer;
    top : 1200px;
}

.box14{
    left: 747px;
    cursor: pointer;
    top : 1300px;
}

.box15{
    left: 747px;
    top : 1400px;
    cursor: pointer;
}
.box16{
    left: 747px;
    cursor: pointer;
    top : 1500px;
}
.box17{
    left: 747px;
    cursor: pointer;
    top : 1600px;
}

.q{
    position: absolute;
   
    background-position:8px 6px;
    background-repeat:no-repeat;
    background-size: 30px;
    top: 7px;
    left: 6px;  
    height: 50px;
    width: 50px;
}


#final{
    position: absolute;
    width: 2000px;
    height: 300px;
    top: 700px;
}

.last1{
    position: absolute;
    left: 732px;
    top: 1095px;
    font-size: 14px;
    font-weight: bolder;

}
.last2{
    position: absolute;
    left: 1419px;
    top: 1095px;
    font-size: 13px;
    font-weight: bolder;
}
.last3{
    position: absolute;
    left: 1552px;
    top: 1095px;
    font-size: 13px;
    font-weight: bolder;
}
.last4{
    position: absolute;
    left: 1685px;
    top: 1095px;
    font-size: 13px;
    font-weight: bolder;
}
.last5{
    position: absolute;
    left: 732px;
    top: 1122px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last6{
    position: absolute;
    left: 732px;
    top: 1146px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last7{
    position: absolute;
    left: 732px;
    top: 1170px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last8{
    position: absolute;
    left: 1258px;
    top: 1122px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last9{
    position: absolute;
    left: 1258px;
    top: 1146px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last10{
    position: absolute;
    left: 1258px;
    top: 1170px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}

.last11{
    position: absolute;
    left: 732px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}

.last12{
    position: absolute;
    left: 790px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last13{
    position: absolute;
    left: 850px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: #f50;
}
.last14{
    position: absolute;
    left: 955px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last15{
    position: absolute;
    left: 1015px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last16{
    position: absolute;
    left: 1077px;
    top: 1218px;
    font-size: 12px;
    font-weight: bolder;
    color: black;
}
.last17{
    position: absolute;
    left: 732px;
    top: 1240px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last18{
    position: absolute;
    left: 732px;
    top: 1262px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last19{
    position: absolute;
    left: 732px;
    top: 1325px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last20{
    position: absolute;
    left: 732px;
    top: 1345px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last21{
    position: absolute;
    left: 732px;
    top: 1365px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last22{
    position: absolute;
    left: 732px;
    top: 1385px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}
.last23{
    position: absolute;
    left: 732px;
    top: 1405px;
    font-size: 12px;
    font-weight: bolder;
    color: #999;
}

.last24{
    position: absolute;
    left: 732px;
    top: 1453px;
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

.last25{
    position: absolute;
    left: 880px;
    top: 1475px;
    font-size: 10px;
    font-weight: bolder;
    color: black;
}

.bottom{
    position: absolute;
    background-color: white;
    width: 40px;
    height: 75px;
    top: 1500px;
    left: -2px;
}

.gold > img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 809px;
    top: 792px;
}
.silver > img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1060px;
    top: 792px;
}
.bronze > img{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1310px;
    top: 792px;
}
.good1 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 938px;
    top: 837px;
}
.good2 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1191px;
    top: 837px;
}
.good3 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1441px;
    top: 837px;
}
.good4 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1691px;
    top: 837px;
}
.good5 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 938px;
    top: 1008px;
}
.good6 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1189px;
    top: 1008px;
}
.good7 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1439px;
    top: 1008px;
}
.good8 > img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1689px;
    top: 1008px;
}







