@charset "UTF-8";

html,
body {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
	background:#fff;
}


.iflower{
text-align: center;
position: relative;
top: -100px;
}
.ififif{
color: #333;
font-size: 18px;
font-weight: bold;
}
.ansim{
color: #222;
font-size: 15px;
margin-top: 16px;
}
.withlawer{
color: #f50;
font-size: 14px;
margin: 0 8px;
padding-bottom: 4px;
text-decoration: none;
font-weight: bold;
text-align: center;

}

.quick-menu{
height: 46px;
width: 285px;
margin-bottom: 17px;
display: flex;
margin-top: 40px;
margin-left: 42px;
}

.one{
height: 88px;
width: 88px;
display: inline-block;
text-align: center;
font-weight: 600;
color: #999;
margin: 0 auto;
font-size:14px;
}
.secondpart{
margin-bottom: 23px;
padding: 21px 2px 19px;
border-bottom: 1px solid #333;
border-top: 1px solid #333;
line-height: 2.5;
text-align: left;
width: 281px;
height: 200px;
margin: 0 auto;

}
.fourbox{
width: 100%;
height: 37px;
}
.findlower{
color: black;
text-decoration: none;
font-weight: 900;
font-size: 18px;
}
.writeglesigi{
color: #333;
border-bottom: 1px solid #333;
cursor: pointer;
font-family: Notokr-Bold;
font-size: 16px;
line-height: 28px;
padding-bottom: 21px;
position: relative;
width: 285px;
height: 45px;
font-weight: bold;
margin: 0 auto;
margin-top: 20px;
}


#slidebutton{
background-color: white;
outline: none;
color: #000;
border: 0ch;
width: 65px;
height: 52px;
}

#slidebutton:focus{
border: white;
outline: none;
outline: white;
}
#slidebutton:checked{
outline: none;
outline: white;
border: white;
}
#slidebutton:visited{
outline: none;
border: white;
outline: white;
}

#slidebutton { color: black; background-color: #fff; cursor: default; }
#slidebutton:active, #slidebutton:focus { border: none; box-shadow: none; }

.offcanvas-title strong {
    width: 175px;
    height: 38px;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
    position: relative;
    left: 74px;
    top: -3px;
	color: #ff6d37;
    font-size: 40px;
    text-transform: uppercase;
}


.menu-items-bottom{
    margin-left: 39px;
    margin-top: 21px;
    margin-bottom: 0;
    text-align: left;
    width:99%;
    height: 225px;
    line-height: 41px;
}

.bottom-inner{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    cursor: pointer;
}
.bottom-inner:hover{
    color: #000;
}

.new-up{
    color: #ff6d37;
    font-family: Amplitude Medium;
    font-size: 12px;
    position: relative;
    text-decoration: none;
    transition: color .2s ease-out;
    top: -8px;
    left: -9px;
    font-weight: bolder;
}
.realbottomSlide{
    width: 100%;
    display: flex;
    height: 113px;
    margin-left: 35px;

}
.slideLogin{
    flex: 1;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.slideicon{
    
    font-size: 41px;

}
.realbottomSlide a{
    text-decoration: none;
    color: #000;
}

.realbottomSlide a:hover{
    color: #000;
}

.one{
    cursor: pointer;
}

.logo-header-layout{
	justify-content: space-evenly;
    display: flex;
    width: 100%;
}

.logo-title{
	display: flex;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    align-content: space-between;
    justify-content: center;
    cursor: pointer;
}

.logo-title a{
	margin: 0 200px;
	text-decoration: none;
}

.inform-layout{
	text-align: right;
	padding-top: 20px;
    padding-left: 18px;

}

.title-layout{
	width: 100%;
}

.title-layout a{
	text-decoration:none;
	font-size: 13px;
	color: #999;
}

.privacy-img{
	position:relative;
}

.privacy-img-size{
	position: absolute;
	width: 15px;
	height: 15px;
    transform: translate(-2px, 5px);
}

.logo-header{
	display: flex;
	    align-items: baseline;	
}
.privacy-img{
	padding: 0 20px;	
}

.mypage-body-layout{
	margin: 9px auto 0;
    width: 672px;
}

.mypage-body-title-layout{
	background-color: #fff;
    padding: 26px 20px 32px;
    text-align: center;
	padding-bottom: 42px;
}

.mypage-body-menu-layout{
	padding-bottom: 42px;
}

.mypage-body-title-layout h2{
	font-size: 28px;
    margin-bottom: 68px;
    font-weight: bold;
}

.mypage-menu-layout{
	display: flex;
	justify-content: center;
}
	
.mypage-menu-layout a{
	flex: none;
    font-size: 14px;
    width: 184px;
}

.mypage-menu-layout2 a{
	color: #757575;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-decoration: none;
}

a.mypage-menu span{
	color: #cfcfcf;
	font-size: 32px;
	margin-top: 7px;
}	

.mypage-menu-layout a strong{
	content:"";
	border-bottom: 1px solid black;
	line-height: 2.5;
}

.mypage-list-layout{
	padding: 61px 60px 36px;
	background-color: #f6f6f6;
}

.mypage-list-title{
	margin-bottom: 34px;
	border-bottom: 3px solid #333;
    color: #333;
    font-size: 18px;
    padding-bottom: 13px;
    text-align: left;
    font-weight: bolder;
}

.mypage-list-title{
	margin-bottom: 17px;	

} 

.mypage-list-font1{
	font-size: 18px;
	color: #555;
	text-align:left;
	padding-bottom: 48px;
	
}

.mypage-list-font2{
	color: #cfcfcf;
	font-size: 32px;
    margin-top: -6px;
    width: 40px;
    text-align: center;
}

/* 푸터 시작부분  */
	.lt-footer{
    border-top: 1px solid #e0e0e0;
    margin-top: 100px;
    background-color: #fff;
    margin: auto;
    position: relative;
    display: block;
    width: 100%;
    height: 156px;
    display: flex;
    max-width: 1080px;
    min-width: 600px;
}

.inner-footer{
    max-width: 1080px;
    width: 100%;
    margin: auto;
    position: relative;
    height: 300px;
    display: flex;
}

.rowtalklogo {
    color: #ff6d37;
    font-size: 40px;
    text-transform: uppercase;
    POSITION: RELATIVE;
    TOP: 48PX;
}



.firstbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 30%;
    height: 300px;

}

.secondbox{
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    font-size: .75rem;
    width: 70%;
    height: 300px;
    margin-left: 109px
    
}

.firstbox div strong{
    font-size: 30px;
}


.footer__menu{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: .875rem;
    max-width: 520px;
    margin-top: 0;
    height: 25px;
    POSITION: relative;
    TOP: 15PX;
}

.lists{
    margin-right: 0.75rem;
    box-sizing: border-box;
    border: 0 solid #e3e3e3;
    display: list-item;
    color: #757575;
}

.informationfooter{
    display: flex;
    position: relative;
    left: 38px;
}


.smallones{
    font-size: 1px;
}
.footera{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.secondfootertitle{
    padding-left: 35px;
   
    max-width: 520px;
    font-size: 17px;
    font-weight: 600;
}

.mypagebox{
    width: 260px;
    height: 96px;
    
}

.mypageboxtwo{
    position: relative;
    left: -111px;
}
.mypageboxtitle{
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 17px;
    font-size: 13px;
    height: 20px;
    line-height: 15px;
    font-weight: 900;

}

.mypageboxex{
    width: 100%;
    height: 24px;
}

.smallcharacter{
    color: #757575;
    font-size: 12px;
    line-height: 18px;
}

.lastfooter{
    border: 0;
    height: 292PX;
}

.lastfooter div{
    width: 100%;
}

.footera:hover {
    color: #000;
}
	 



