@charset "UTF-8";


.all-layout {
    margin: 0 auto;
    max-width: 480px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f1f4f6;
}



div.container{
	display: block;
    width: 100%;
}

div.all-layout{
	margin: 0 auto;
    max-width: 480px;
}

.title-layout{
	margin-left: 8px;
    margin-right: 8px;
	background-color: #222;
    height: 112px;
    margin-bottom: 8px;
    padding-top: 18px;
    position: relative;
}

h1{
	font-size: 19px;
    line-height: 27px;
    margin-bottom: 22px;
    margin: 0;
    padding : 0 16px;
    font-weight: bolder;
    font-family: 'Noto Sans KR', sans-serif;
}


h1 a{
	color: #ff6d37;
	text-decoration: none;
	cursor: pointer;
	font-size: 21px;
	font-family: 'Noto Sans KR', sans-serif;
}

h2{
	color: #aa999d;
    font-size: 16px;
    line-height: 15px;
    padding : 0 16px;
    margin-top: 21px;
    font-family: 'Noto Sans KR', sans-serif;
}

.allform-layout{
	padding: 0 8px;
}

.first-form{
	background: none #fff;
    margin-bottom: 8px;
    width: 100%;
}

.allform-layout form h3{
	background-color: #f9f6f4;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
}

.form-title-text{
	padding: 0 16px
}

.input-layout{
	position: relative;
	padding: 10px 16px 46px;
	height: 216px;
}

.allInput-border{
	border: 0;
	display: block;
	line-height: 1.42857143;
    outline: 0 none;
    width: 100%;
    border-bottom-color: #333;
    font-size: 14px;
    border-bottom: 1px solid #333;
    height: 23px;
}

.input-tag-layout{
	margin-top: 40px;
	overflow: visible;
    position: relative;
    margin-bottom: 15px;
}

.input-tag-layoutlabel label{
	position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
}

label{
	display: inline-block;
	max-width: 100%;
}

.login-alert{
	color: #757372;
    font-size: 12px;
    line-height: 17px;
    margin: 16px 0 0;
}

.button-layout{
	background-color: #f9f6f4;
    padding: 20px;
    text-align: center;
}

.button-layout button{
	color: #ff6d37;
    font-size: 18px;
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    background-color: transparent;
}

form.second-form{
	background: none #fff;
    margin-bottom: 8px;
    width: 100%;
}

.pull-right{
	float:right;
}

.auto-switch{
	display: inline-block;
}


input[type=checkbox]{
	line-height: normal;
	margin: 4px 0 0;
}


.form-select-checkbox{
	margin-bottom: 0;
    position: relative;
    padding: 0 16px;
	line-height: 60px;    
}

.pull-left{
	font-size: 13px;
}

input[type=checkbox]:checked+label{
	background-color: #37b0c9;
}

.auto-switch input[type=checkbox]+label{
	background-color: #c0b3b6;
    border-radius: 20px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 2px;
    outline: 0;
    position: relative;
    -webkit-transition: background-color ease;
    -webkit-transition-delay: .3s;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    vertical-align: middle;
    width: 35px;
}

input[type=checkbox]+label::checked::after{
	left:20px;
}

.run-checkbox{
	position: absolute;
	left: -9999px;
}

.auto-switch input[type=checkbox]+label::after{
		background-color: #fff;
	    border-radius: 10px;
	    content: "";
	    height: 10px;
	    left: 5px;
	    position: absolute;
	    top: 5px;
	    -webkit-transition: all ease;
	    -webkit-transition-delay: .3s;
	    -moz-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;
	    width: 10px;
}

.auto-switch input[type=checkbox]+label{
	cursor: pointer;
}

form.form-select-checkbox-border-top{
	border-top: 1px solid #f9f6f4;
}

.third-form{
	background: none #fff;
    margin-bottom: 8px;
    width: 100%;
}

.input-hp-layout{
	padding: 10px 16px 46px;
}

.hp-layout{
	margin-top: 40px;
	margin-bottom: 15px;
	overflow: visible;
    position: relative;
}

div.footer{
	padding: 20px 24px;
    text-align: center;
}

div.footer.row{
	
	padding: 10px 0;
}

.row{
	margin-left: -15px;
    margin-right: -15px;
}

a{
	cursor: pointer;
}




input:before, input:after, label:before, label:after {
  content: "";
  position: absolute;
}


.toggle {
  position: relative;
  display: inline-block;
}

label.toggle-item {
  width: 35px;
  background: #2e394d;
  height: 20px;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: 20% center;
  top: 5px;
  cursor: pointer;
}

label.toggle-item:before {
  display: block;
  transition: all 0.2s ease;
  width: 35px;
  height: 20px;
  top: 5px;
  left: 5px;
  border-radius: 2em;
  border: 2px solid #88cf8f;
  transition: 0.3s ease;
}

.normal1 label{
  background: #c0b3b6;
}
.normal1 label:before {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
}

#normal1:checked + label {
  background: #37b0c9;
}
#normal1:checked + label:before {
  left: 20px;
}


.normal2 label{
  background: #c0b3b6;
}
.normal2 label:before {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
}

#normal2:checked + label {
  background: #37b0c9;
}
#normal2:checked + label:before {
  left: 20px;
}

.normal3 label{
  background: #c0b3b6;
}
.normal3 label:before {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
}

#normal3:checked + label {
  background: #37b0c9;
}
#normal3:checked + label:before {
  left: 20px;
}

.normal4 label{
  background: #c0b3b6;
}
.normal4 label:before {
  border: none;
  width: 10px;
  height: 10px;
  background: #fff;
}

#normal4:checked + label {
  background: #37b0c9;
}
#normal4:checked + label:before {
  left: 20px;
}
