<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>
  <typeAliases>
      <typeAlias type="com.lawknow.domain.vo.UserVO" alias="userVO"/>
       <typeAlias type="com.lawknow.domain.vo.LawyerVO" alias="lawyerVO"/>
       <typeAlias type="com.lawknow.domain.vo.UserWriteVO" alias="userWriteVO"/>
       <typeAlias type="com.lawknow.domain.vo.UserWriteDTO" alias="userWriteDTO"/>
        <typeAlias type="com.lawknow.domain.vo.UserReviewVO" alias="userReviewVO"/>
         <typeAlias type="com.lawknow.domain.vo.LawyerCommentVO" alias="lawyerCommentVO"/>
         <typeAlias type="com.lawknow.domain.vo.FileVO" alias="fileVO"/>
   </typeAliases> 
   <environments default="lawknow">
      <environment id="lawknow">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/lawknow"/>
            <property name="username" value="root"/>
            <property name="password" value="1234"/>
         </dataSource>
      </environment>
   </environments>
   <mappers>
      <mapper resource="com/mybatis/mapper/UserMapper.xml"/>
        <mapper resource="com/mybatis/mapper/LawyerMapper.xml"/>
         <mapper resource="com/mybatis/mapper/UserWrite.xml"/>
          <mapper resource="com/mybatis/mapper/UserReview.xml"/>
          <mapper resource="com/mybatis/mapper/LawyerComment.xml"/>
          <mapper resource="com/mybatis/mapper/FileMapper.xml"/>
   </mappers>
</configuration>

