<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lawyerRegister"> 
	<insert id ="lawyerJoin" parameterType="LawyerVO"> 
	insert into tbl_lawyer_register
	(lawyer_num, lawyer_id, lawyer_name, lawyer_email, lawyer_pw, lawyer_phone_num,lawyer_gender,lawyer_birth,lawyer_kakao_email)
	values(#{lawyerNum}, #{lawyerId},#{lawyerName}, #{lawyerEmail}, #{lawyerPw}, #{lawyerPw},#{userPhoneNum},#{userGender},#{userBirth},#{userKakaoEmail})
	</insert>
	
	<delete id="deleteAccount" parameterType="UserVO">
		delete from tbl_user_register
		WHERE user_num=;
	</delete>
	
</mapper>