<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
	<!-- 회원가입 -->
   <insert id ="join" parameterType="userVO"> 
   insert into tbl_user_register
   (user_num, user_id, user_name, user_email, user_pw, user_phone_num, user_gender, user_birth, user_kakao_email, user_facebook_email)
   values(0, #{userId}, #{userName}, #{userEmail}, #{userPw}, #{userPhoneNum}, #{userGender}, #{userBirth}, #{userKakaoEmail}, #{userFacebookEmail})
   </insert>
   <!--  -->
   
   <!--아이디 중복검사  -->
   <select id ="checkId" parameterType ="string" resultType="int">   
      select count(user_id) from tbl_user_register where user_id = #{userId}
   </select>
	
	<!-- 회원목록 -->
	<select id="selectUsers" resultType="userVO">
		select user_num, user_id, user_name, user_pw, user_gender, user_birth, user_email, user_phone_num
		from tbl_user_register order by user_name desc
	</select>
	
	<!-- 번호로 이름가져오기 -->
	<select id="getUserName" parameterType="int" resultType = "string">
		select user_name from tbl_user_register
		where user_num = #{userNum}
	</select>
	
	<!-- 로그인 -->
	<select id="loginOk" parameterType="map" resultType="_int">
		select user_num from tbl_user_register
		where user_id = #{userId} and user_pw = #{userPw}
	</select>
   
   <!-- 계정 탈퇴  -->
   <delete id="UserDeleteAccount" parameterType="userVO">
      delete from tbl_user_register
      where user_num =  #{userNum}
   </delete>
   
   <!-- 회원 이메일 수정  -->
   <update id ="UserEmailUpdate" parameterType ="userVO" >
   update tbl_user_register
   set user_email=#{userEmail}
   where user_num= #{userNum}
   </update>
   
   <!-- 비밀번호 변경 -->
   	<update id ="PwChange" parameterType= "userVO">
		update tbl_user_register
		set user_pw = #{userPw}
		where user_num = #{userNum}
	</update>
	
	<!-- 비밀번호 체크 -->
	<select id ="UserPwcheck" parameterType="int" resultType = "_int">
		select count(user_pw) from tbl_user_register
		where user_num = #{userNum};
	</select>
	
	<!-- 아이디 가져오기 -->
	<select id = "UserId" resultType ="string">
		select user_id from tbl_user_register
		where user_num = #{userNum}
	</select>	
	
	<!-- 이메일 가져오기 -->
	<select id = "UserEmail" resultType ="string">
		select user_email from tbl_user_register
		where user_num = #{userNum}
	</select>
	
	<!-- 핸드폰 번호 가져오기  -->
	<select id= "UserPhonNum" resultType ="string">
		select user_phone_num from tbl_user_register
		where user_num = #{userNum}
	</select>

	<!-- 성별 가져오기 -->
	<select id= "UserGender" resultType ="string">
		select user_gender from tbl_user_register
		where user_num = #{userNum}
	</select>

	<!-- 출생년도 가져오기 -->
	<select id= "UserBirth" resultType ="string">
		select user_birth from tbl_user_register
		where user_num = #{userNum}
	</select>

	<!-- 카카오톡 이메일 가져오기 -->
	<select id= "UserKakaoEmail" resultType ="string">
		select user_kakao_email from tbl_user_register
		where user_num = #{userNum}
	</select>

	<!-- 페이스북 이메일 가져오기 -->
	<select id= "UserFaceBookEmail" resultType ="string">
		select user_facebook_email from tbl_user_register
		where user_num = #{userNum}
	</select>
	
	<!-- 핸드폰 번호 변경 -->
	<update id ="UserPhoneChange" parameterType= "userVO">
		update tbl_user_register
		set user_phone_num = #{userPhoneNum}
		where user_num = #{userNum}
	</update>
	
	
</mapper>

