<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>kovengerss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- lawyercomment -->
  <servlet>
  	<servlet-name>LawyerCommentFrontController</servlet-name>
  	<servlet-class>com.lawknow.lawyerComment.LawyerCommentFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>LawyerCommentFrontController</servlet-name>
  		<url-pattern>*.lcc</url-pattern>
  </servlet-mapping>

<!-- 변호사 로그인, 회원가입 front controller-->
  <servlet>
  	<servlet-name>LawyerLoginFrontController</servlet-name>
  	<servlet-class>com.lawknow.lawyerRegister.LawyerLoginFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>LawyerLoginFrontController</servlet-name>
  		<url-pattern>*.ll</url-pattern>
  </servlet-mapping>
<!-- 의뢰인 로그인, 회원가입 front controller-->
  <servlet>
  	<servlet-name>UserLoginFrontController</servlet-name>
  	<servlet-class>com.lawknow.userRegister.UserLoginFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserLoginFrontController</servlet-name>
  		<url-pattern>*.ul</url-pattern>
  </servlet-mapping>
  
<!-- userreview -->
  <servlet>
  	<servlet-name>UserReviewFrontController</servlet-name>
  	<servlet-class>com.lawknow.userReview</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserReviewFrontController</servlet-name>
  		<url-pattern>*.urfc</url-pattern>
  </servlet-mapping>
<!-- userwrite -->
  <servlet>
  	<servlet-name>UserWriteFrontController</servlet-name>
  	<servlet-class>com.lawknow.userWrite</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserWriteFrontController</servlet-name>
  		<url-pattern>*.uwfc</url-pattern>
  </servlet-mapping>
</web-app>