<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>kovengerss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- lawyercomment -->
  <servlet>
  	<servlet-name>LawyerCommentFrontController</servlet-name>
  	<servlet-class>com.lawknow.lawyerComment</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>LawyerCommentFrontController</servlet-name>
  		<url-pattern>*.lcc</url-pattern>
  </servlet-mapping>
<!-- lawyerregister -->
  <servlet>
  	<servlet-name>LawyerRegisterFrontController</servlet-name>
  	<servlet-class>com.lawknow.lawyerRegister</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>LawyerRegisterFrontController</servlet-name>
  		<url-pattern>*.lrfc</url-pattern>
  </servlet-mapping>
<!-- userregister -->
  <servlet>
  	<servlet-name>UserRegisterController</servlet-name>
  	<servlet-class>com.lawknow.userRegister</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserRegisterController</servlet-name>
  		<url-pattern>*.urc</url-pattern>
  </servlet-mapping>
<!-- userreview -->
  <servlet>
  	<servlet-name>UserReviewFrontController</servlet-name>
  	<servlet-class>com.lawknow.userReview</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserReviewFrontController</servlet-name>
  		<url-pattern>*.urfc</url-pattern>
  </servlet-mapping>
<!-- userwrite -->
  <servlet>
  	<servlet-name>UserWriteFrontController</servlet-name>
  	<servlet-class>com.lawknow.userWrite</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>UserWriteFrontController</servlet-name>
  		<url-pattern>*.uwfc</url-pattern>
  </servlet-mapping>
</web-app>